% -*- mode: erlang -*-

% Minimum requirement so that release handling works.
{require_min_otp_vsn, "R15B01"}.

% Options to pass into compiler during compile-time.
{erl_opts, [
     debug_info ,      % Compile with Debug information for now.
     fail_on_warrning  % We don't even want to have warnings.
    ]}.

{sub_dirs, ["rel"]}.


{deps, [ 
    {'jsonx',".*", 
        {git, "git://github.com/iskra/jsonx", {branch, "master"}}},
    {'exec', ".*",
        {git, "git://github.com/saleyn/erlexec", {branch, "master"}}}
]}.
